* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
}
.parent {
  background-color: blueviolet;
  width: 100%;
  height: 500px;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  overflow: hidden;
  align-content: center;
  filter: blur();
  -webkit-filter: blur();
}
.child {
  flex-basis: 150px;
  height: 100px;
  border: 2px solid white;
  flex-grow: 1;
  background-image: linear-gradient(to right, blue, red);
}
