* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
}
.heading {
  background-image: url("../amazon/public/images/amazon\ logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: max-content;
  height: 500px;
  background-attachment: fixed;
}
.heading2 {
  background-image: url("../amazon/public/images/amazon\ logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: max-content;
  height: 500px;
  background-attachment: scro;
}
