* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
}
.heading {
  background-image: url("../amazon/public/images/amazon\ logo.png");
  background-color: red;
  height: 100vh;
  background: sticky;
  align-content: center;
}
.heading2 {
  background-color: blue;
  height: 100vh;
}
